<div id="plexLogin">
    <h2>Login to your myPlex Account.</h2>
    <input type="text" id="username" name="username"/>
    <input type="password" id="password" name="pass"/><br/>
    <button class="btn" id="myPlexLogin">Login</button>
</div>
